div {
    border-radius: 1px 100%; ;
    background: #d01414;
    padding: 20px;
    width: 150px;
    height: 150px;
    padding:60px
}

div.klasa {
    border: none;
padding: 50px;
height: 200px;
width: 200px;
background-color: red;
border-top-right-radius: 100%;
border-bottom-left-radius: 100%;
}